*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family:'Lato', sans-serif;
    font-size: 14px;
}
.container{
    max-width:1110px;
    margin:0 auto;
    padding:0 15px;
}
.top-screen{
    min-height: 782px;
    padding-top: 50px;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
     url(/images/topbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:#fff;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 167px;
}
.logo{
    max-width: 255px;
    margin-right: 30px;
}
.menu{
    display: flex;
    justify-content: center;
    margin: 0 30px 0 0;
    padding: 0;
    list-style: none;
}
.menu-item+.menu-item{
    margin-left: 20px;
}
.menu-link{
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.menu-link:hover{
    color:#e7aeb4;
}
.menu-link.active{
    font-weight: 700;
}
.btn{
    display: inline-block;
    padding: 17px 34px 16px;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3 ease;
}
.user-block{
    max-width: 255px;
}
.user-block-login-link{
   padding:11px 29px 12px;
   color:#fff;
   border:1px solid #fff;
   transition:.3s ease;
}
.user-block-login-link:hover{
    color:#ed4c5c;
    background-color: #fff;
}
.hero{
    width:730px;
    margin:0 auto;
    text-align: center;
}
.hero-title{
    margin:0 0 39px;
    font-weight:700;
    font-size:72px;
    line-height: 86px;
    letter-spacing:0.05em;
    text-transform: uppercase;
}
.hero-descr{
    max-width:500px;
    margin:0 auto 39px;
    font-weight:700;
    font-size:24px;
    line-height:150%;
}
.hero-btn{
    padding: 17px 53px 16px 52px;
    font-weight: 700;
    color:#ed4c5c;
    font-size:14px;
    line-height: 17px;
    background-color: #fff;
}
.hero-btn:hover{
    background-color: rgb(240,188,188);
}
.video{
    padding-top: 95px;
    padding-bottom: 95px;
}
.section-inner{
    display:flex;
    align-items: center;
}
.section-column{
    max-width:540px;
    padding-right: 95px;
}
.section-title{
    margin:0;
    margin-bottom: 25px;
    font-weight:700;
    font-size:36px;
    line-height:43px;
    color:#000;
}
.video-descr{
    line-height:140%;
    text-align:justify;
}
.video-link{
    line-height:140%;
    color:#ED4C5C;
    text-decoration:none;
}
.video-player{
    width:445px;
    height:311px;
    border-radius:15px;
}
.features{
    padding-top: 65px;
    padding-bottom: 157px;
    background-color: #FAFAFA;
}
.features-title{
    margin-bottom:65px;
    text-align:center;
}
.features-list{
    margin:0;
    padding:0;
    list-style:none;
    display:flex;
    justify-content: space-between;
}
.features-item{
    position:relative;
    width:350px;
    min-height:250px;
    padding: 0 28px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.features-item:nth-child(2){
    background-image: url(../images/jk.jpg);
}
.features-item:nth-child(3){
    background-image: url(../images/df.jpg);
}
.features-item-inner{
    width:293px;
    margin-top: 158px;
    margin-bottom: -100px;
    padding:33px 32px;
    text-align: center;
    color:#101010;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.1);
}
.features-item-title{
   margin:0;
   margin-bottom: 20px;
   font-weight:700;
   font-size:18px;
   line-height:22px;
}
.features-descr{
  margin:0 0 20px 0;
  font-size:12px;
  line-height:150%;
}
.features-link{
    font-weight:700;
    font-size:12px;
    line-height:150%;
    color:#ED4C5C;
    text-decoration: none;
}
.technology{
    padding-top: 135px;
    padding-bottom: 104px ;
}
.technology-title{
    margin:0 0 52px;
    text-align: center;
}
.technology-list{
    margin:0;
    padding: 0;
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    counter-reset: num;
}
.technology-item{
    counter-increment: num;
    width:255px;
    padding:0 30px;
    text-align: center;
}
.technology-item::before{
    content:counter(num);
    counter-increment: item 1;
    font-weight:700;
    font-size: 100px;
    line-height:120px;
    color:rgba(16,16,16,0.08);
}
.technology-item:nth-child(-n+9)::before{
    content:"0" counter(num);
}
.technology-item-title{
    position: relative;
    margin:0 0 10px 0;
    padding-top:15px;
    font-weight:700;
    font-size: 18px;
    line-height:22px;
    color:#101010;
}
.technology-item-title::before{
    position:absolute;
    bottom:-25px;
    left:50%;
    margin-bottom:20px;
    transform: translate(-50%,-50%);
    width:80px;
    height:80px;
    content:"";
    background-image: url(../images/Frame\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.technology-item-title.secure::before{
    background-image: url(../images/Frame\ 4.svg);
}
.technology-item-title.pdf::before{
    background-image: url(../images/Frame5.svg);
}
.technology-item-title.csv::before{
    background-image: url(../images/Frame6.svg);
}
.technology-descr{
    font-size:12px;
    line-height: 14px;
    color:#000;
}
.download{
    padding-top: 94px;
    padding-bottom: 95px;
    background-color: #ed4c5c;
    color:#fff;
}
.download-title{
    margin:0 0 24px;
    font-weight: 700;
    font-size:36px;
    line-height:43px;
    color:#fff;
}
.download-descr{
    margin:0 0 40px;
    font-size:14px;
    line-height:140%;
    text-align: justify;
}
.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
.download-list{
    margin:0;
    padding:0;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.download-item + .download-item{
    margin-left: 23px;
}
.download-link path{
    transition: 0.2s ease;
}
.download-link:hover path{
    fill:#e7aeb4;
}
.download-slider{
    border-radius: 15px;
    overflow: hidden;
}
.contact{
    padding-top: 117px;
    padding-bottom: 122px;
}
.contact-inner{
    align-items:flex-start;
}
.contact-title{
    margin:0 0 30px;
    font-weight:700;
    font-size:36px;
    line-height:43px;
}
.contact-txt{
margin:0;
padding-right: 114px;
font-size: 14px;
line-height: 140%;
text-align: justify;
}
.contact-form-wrapper{
    padding-right:0;
}
.contact-form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px 60px 50px;
    grid-gap:24px;
}
.contact-phone,
.contact-question{
    grid-column:1/3;
}
.contact-text-input{
    padding:21px 30px;
    border:1px solid #333;
    border-radius:6px;
}
.contact input::placeholder{
    font-family:'lato', sans-serif;
    font-size:16px;
    line-height:19px;
    color:rgba(19,39,67,.5);
}
.contact-btn{
    background: #ed4c5c;
    border:1.5px solid #ed4c5c;
    border-radius:6px;
    color:#fff;
}
.footer{
    padding-top:85px;
    padding-bottom:86px;
    background-color: #fafafa;
}
.footer-inner{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
}
.footer h3{
    margin:0 0 33px;
    font-size:18px;
    line-height:22px;
    color:#101010;
}
.footer p{
    margin:0 0 25px;
    font-size: 12px;
    line-height:150%;
    color:#101010;
}
.footer-services ul,
.footer-contacts ul{
    margin:0 0 20px;
    padding: 0;
    list-style:none;
}
.footer-services ul a,
.footer-contacts ul a{
    font-size:12px;
    line-height:160%;
    color:#000;
    text-decoration:none;
}
.footer-contacts li{
  margin-bottom:5px;
}
.footer-socials{
    display:flex;
    flex-wrap:wrap;
}
.footer-socials li+li{
    margin-left:15px;
    margin-bottom: 5px;
}
.footer-support img{
    width:100%;
    height:50px;
}
.footer-support-logos{
    margin:0;
    padding:0;
    list-style:none;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:15px;
}
.footer-copy p{
    padding-top:86px;
}
.toggle{
    display: none;
}


@media(max-width:1120px){
    .toggle{
        position: relative;
        width:30px;
        height:16px;
        padding-right:25px;
        cursor:pointer;
        border:none;
        background:none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        
}
    
.toggle.active{
        background: none;
}
    
.toggle::before{
      content:"";
      position: absolute;
      width:30px;
      height:1.8px;
      background:#fff;
      transition: 0.2s;
      transform: translateY(-10px);
      box-shadow: 0 10px 0 #fff;
}
.toggle.active::before{
      transform: translateY(0px) rotate(45deg);
      box-shadow: 0 0 0 #fff;
}
.toggle::after{
      content:"";
      position: absolute;
      width:30px;
      height:1.8px;
      background:#fff;
      transition: 0.2s;
      transform: translateY(10px);
}
    
.toggle.active::after{
        transform: translateY(0px) rotate(-45deg);
}
.nav {
    display:none;
     position: absolute;
     width:100%;
     height:300px;
     right:0;
     top:100px;
     z-index: 99;
     background-color: #ed4c5c;
}    
.menu-show{
display: block;
}
.menu{
flex-direction: column;
align-items: center;
margin:50px;
}
.menu li{
 margin-bottom:30px;
}

.user{
         display:flex;
        justify-content: center;
         align-items: center;
}
.user-block{
         margin-right:30px;
}
     
.technology-list{
         display: grid;
         grid-template-columns: 1fr 1fr;
         padding-left:135px;
}
.features-list{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-row-gap:150px;
}
.features-item{
         margin:0 auto;
}
.video-column{
         margin: 0 auto;
}
     
}

@media(max-width:920px){
.technology-list{
        padding-left:66px;
}
.section-inner{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:50px;
}
.section-column{
    margin:0 auto;
    max-width:455px;
    padding-right:20px;
}
.download-slider{
    width:445px;
}
}

@media(max-width:850px){
.technology-item{
    margin:0 auto;
}

.footer-inner{
       grid-template-columns: 1fr 1fr;
}
.footer-address{
       margin:0 auto;
       width:100px;
}
.footer-services{
       margin:0 auto;
}
.footer-contacts{
       margin:0 auto;
}
.footer-copy{
       margin:0 auto;
}
    
}

@media(max-width:800px){
    .container{
        max-width:1110px;
    }
    .hero{
        width:600px;
    }
    .hero-title{
        margin: 0 auto;
        font-size: 65px;
    }
    .hero-descr{
        margin:0 auto;
    }
    .hero-btn{
        margin-top:50px;
    }
    .features-list{
        display: grid;
        grid-template-columns:1fr;
        grid-row-gap:150px;
}
    .technology-list{
    padding-left: 5px;
}
    .section-inner{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:50px;
    }
    .section-column{
        margin:0 auto;
    }
    .download-slider{
        width:445px;
    }
    
}

@media(max-width:615px){
    .hero{
        width:500px;
    }
    .hero-title{
        margin: 0 auto;
        font-size: 58px;
    }
    .hero-descr{
        max-width:382px;
        margin:0 auto;
    } 
}

@media(max-width:550px){
    .hero{
        width:500px;
    }
    .hero-title{
        margin: 0 auto;
        font-size: 50px;
    }
    .hero-descr{
        margin:0 auto;
    }
    .hero-btn{
        margin-top:70px;
    }
    .section-column{
        width:490px;
    }
    .contact-text-input{
        padding:21px 6px;
    }
    .contact-form{
        display: flex;
        flex-direction: column;
        width:330px;
    }
    .contact-phone{
        width:330px;
    }
    .contact-question{
        width:330px;
    }
}

@media(max-width:505px){
    .hero{
        width:450px;
    }
    .contact-text-input{
        padding:21px 6px;
    }
    .section-column{
        width:450px;
    }  
    .technology-list{
        grid-template-columns: 1fr;
    }
}

@media(max-width:460px){
    .hero{
        width:400px;
    }
    .hero-title{
        font-size: 48px;
    }
    
    .download-slider{
        width:400px;
    }
    .section-column{
        width:415px;
    }
    .video-column{
        width:400px;
    }
    .video-player{
        width:400px;
    }
    .video-descr{
        width:350px;
    }
    
}

@media(max-width:430px){
    .hero-title{
        font-size: 44px;
    }
    .download-slider{
        width:350px;
    }
    .section-column{
        width:350px;
    }
    .video-column{
        width:350px;
    }
    .video-player{
        width:350px;
    }
    .video-descr{
        width:350px;
    }
    .contact-form{
        display: flex;
        flex-direction: column;
        width:330px;
    }
    .contact-phone{
        width:330px;
    }
    .contact-question{
        width:330px;
    }
    
}

@media(max-width:410px){
    .hero{
        width:372px;
    }
    .hero-title{
        font-size:38px;
    }
    .hero-descr{
        width:350px;
        font-size:18px;
    }
    .user-block-login-link{
        padding:11px 6px 12px;
    }
    .toggle{
        padding-right:8px;
    }
    .download-slider img{
        width:350px;
    }
    .section-column{
        width:330px;
    }
    .video-column{
        width:350px;
    }
    .video-player{
        width:350px;
    }
    .video-descr{
        width:300px;
    }
}
@media(max-width:380px){
    .logo{
        margin-right:10px;
    }
    .user-block{
        margin-right:16px;
    }
    .hero{
        width:320px;
    }
    .hero-descr{
        width:320px;
    }
    .video-column{
        width:320px;
    }
    .video-player{
        width:320px;
    }
    .video-descr{
        width:300px;
    }
    .features .container{
        padding:0 2px;
    }
    .features-item{
        width:330px;
    }
    .features-item-inner{
        width:262px;
    }
    .download-slider{
        width:320px;
    }
}
@media(max-width:340px){
    .hero{
        width:300px;
        font-size: 24px;
    }
    .hero-descr{
        width:280px;
    }
    .video-column{
        width:300px;
    }
    .video-player{
    width:280px;
    }
   .features-item{
    width:310px;
    }
    .features-item-inner{
        width:250px;
    }
    .section-column{
        width:306px;
    }
    .download-slider{
        width:290px;
    }
    .download-slider img{
        width:290px;
    }
    .contact-txt{
        padding-right:0px;
    }
    .contact-form{
        width:285px;
    }
    .contact-phone{
        width:285px;
    }
    .contact-question{
        width:285px;
    }
}
@media(max-width:280px){
    .hero{
        width:270px;
        font-size: 24px;
    }
    .section-title{
        font-size:24px;
    }
    .video-descr{
        width:277px;
    }
    .video-player{
        width:270px;
    }
    .features-item{
        width:270px;
    }
    .features-item-inner{
        width:215px;
        padding:15px 30px;
    }
}